.header{
    .logo-text{
        padding-top: 19px;
        .logo{
            padding-left: 7px;
        }  
    }
    .contact{
        padding-top: 26px;
        .phone{           
            img{
                float: left;
                margin: -30px;
                margin-left: -5px;
                padding-top: 45px;
            }
            span{  
                font-family: $font-m;
                color: #666666;
                font-size: 10px;
                float: left;
                margin-left: -2px;
                margin-top: 35px;
            }
        }
        .email-header{
            margin-top: 14px;
            .email{
                width: 233px;
                height: 35px;
                background-color: #ffed4d;
                text-align: center;
                padding-top: 10px;
                .eml{
                    font-family: $font-mb;
                    color: #ff6600;
                    font-size: 13.33px;
                    font-weight: bold;
                    border: none;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
            .email:hover{ 
                background-color: #ffed4d;
                opacity: 0.7;
            }          
        }   
    }
    .btn-hide-icon{
        display: none;
    }
    .icon-bars::before{
        content: url('../images/icon-bar.png');
        position: absolute;
        top: 15px;
        right: 10px;
    
    }
    .icon-close::before{
       content: url('../images/icon-close.png');
       position: absolute;
       top: 15px;
       right: 15px;
    }

}