.tv-contents{
    .content-top{
        border-bottom: 1px solid #dddddd;
        .text{
            padding: 10px;
            a{
                float: left;
                color: #0c5999 ;
            }
            p{
                color: #000000 ;
            }       
            a,p{
                font-family: $font-m;
                font-size: 12px;
            }
        }       
    }
    .content-1{
        .text{
            margin-top: 65px;
            .text-1{
                font-family: $font-m;
                font-size: 30.67px;
                line-height: 0.8;
                color: #111111 ;
            }
            .text-2{
                font-family: $font-m;
                font-size: 17.33px;
                color: #525252 ;
                padding-top: 45px;
            }
            .table{
                margin-top: 47px;
                margin-bottom: 80px;
                #tbl
                {
                    font-family: $font-m;
                    font-size: 17.33px;
                    border-collapse: collapse;
                    width: 100%;
                    thead{
                        .tbw-1{
                            width: 260px;
                        }
                        .tbw-2{
                            width: 218px;
                        }
                    }
                    td,th {
                        border: 1px solid #ddd;
                        padding: 8px;
                        padding-bottom: 140px;                   
                    }
                    td{
                        text-align: left;
                    }
                    th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        background-color: #0e5b9a;
                        color: white;
                    }
                }
                .table-rps{
                    display: none;
                }
            }
        }
    }
    .content-2{
        background-color: #eeeeee;
        // min-height: 1435px;
        .center{
            padding-top: 70px;
            p{
                font-family: $font-m;
                font-size: 30.67px;
                line-height: 0.8;
                color: #111111 ;
              
            }
        }
        .step{
            padding-bottom: 50px;
            .step-1,.step-2,.step-3,.step-4,.step-5{
                padding: 25px 25px 25px 25px;
                background-color: #ffffff;
                a{
                    text-decoration: none;
                    font-family: $font-sd;
                    color: #0e5b9a;
                    font-size: 18.67px;
                    img{
                        float: left;
                        margin-right: 15px;
                    }
                }
                p{
                    font-family: $font-m;
                    font-size: 16px;
                    color: #111111;
                    padding-top: 15px;
                }
                .img-cl4{
                    img{
                        float: right;
                    }
                }
            }
            .step-2, .step-3, .step-4, .step-5{
                margin-top: 30px
            }
            .step-1{
                margin-top:45px;
                .sub{
                    margin-top: 50px;
                    .phone{                           
                        img{width: 95%;
                            height: 45px;
                        }                                       
                    }
                    .email{
                        .btn{
                            width: 95%;
                            height: 45px;
                            font-family: $font-mb;
                            color: #ff6600;
                            font-size: 13.33px;
                            border: none;
                            background-color: #ffed4d;
                            cursor: pointer;
                        }
                        .btn:hover{ 
                            background-color: #ffed4d;
                            opacity: 0.7;
                        } 
                    }
                }
            }
        }
    }
    .content-3{
        margin-top: 60px;
        .soild-content-3{
            font-family:$font-sd;
            border-style: solid;
            border-width: 1px;
            color: #0f5c9b;
            padding: 15px 77px;
            font-size: 26.67px;
            text-decoration: none;
        }
        .txt-content-3{
            margin-top: 50px;
            margin-bottom: 80px;
            font-family: $font-m;
            color: #525252;
            font-size: 16px;
            a{
                color: #0f5c9b ; 
                text-decoration: none;   
                font-size: 24px;          
            }
           
        }
    }
}